@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  /* slate-50 */
  --foreground: #0f172a;
  /* slate-900 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {

  input,
  textarea,
  select {
    @apply text-slate-900 bg-white;
  }
}